backports.entry-points-selectable==1.1.0
click==8.0.1
distlib==0.3.3
dotted==0.1.8
filelock==3.3.1
Flask==2.0.1
flask-htpasswd==0.4.0
Flask-Login==0.5.0
Flask-WTF==0.15.1
itsdangerous==2.0.1
Jinja2==3.0.1
json2==0.4.0
MarkupSafe==2.0.1
packaging==21.0
passlib==1.7.4
pkg_resources==0.0.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.10.0
pyparsing==2.4.7
six==1.16.0
toml==0.10.2
tox==3.24.4
virtualenv==20.8.1
Wand==0.6.7
Werkzeug==2.0.1
WTForms==2.3.3
