{% extends "header.html" %}

{% block content %}

<div id="container">
  <a href="{{url_for('show_folder')}}?folder={{folder}}">
    <img class="leftnail" src="/static/images/up.png" alt="up.png">
  </a>
  <a href="{{url_for('show_photo')}}?photo={{prev_photo}}">
    <img class="leftnail" src="/static/images/left.png" alt="left.png">
  </a>
  <a href="{{url_for('show_photo')}}?photo={{next_photo}}">
    <img class="rightnail" src="/static/images/right.png" alt="right.png">
  </a>
  <img class="big_photo" src="{{image_path}}" alt="{{image_path}}"/>
</div>

{% endblock %}
